*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.apps{
    height: 700px;
    width: 400px;
    background-color: rgb(170, 167, 167);
    border-radius:10px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content:space-between;
}

.header__left ,.header__right {
    display: flex;
    margin-top: 20px;
}

.header__left--icon{
 margin-right: 30px;
 margin-left:10px
}

.header__right{
    display: flex;
}


.header__left--name{
    font-weight: 600;
}


.header__right--icon-2{
    margin-right: 10px;
    margin-left: 20px
}

.header__heading{
    display:flex;
}

.header__heading--img{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius:50%;
}